<div id="" class="container flex header-bar__content">
    <div class="header-bar__item">
        <a title="logo trang chủ" href="/">
            <img class="logo" width="195" height="87" src="./img/logo+about/logo.png" alt="">
        </a>
    </div>
    <div class="header-bar__item flex custom-list">
        <img src="./img/icon-social-network/bar.svg" alt="">
        <p>Danh mục</p>
    </div>
    <div class="header-bar__item">
        <p>Vỏ lốp cũ vì môi trường xanh</p>
    </div>
    <div class="header-bar__item flex">
        <img src="./img/icon-social-network/newiconphone.svg" alt="">
        <div class="content-contact">
            <p class="content-contact__title">Gọi mua hàng</p>
            <span>090 666 2441</span>
        </div>
    </div>
    <div class="header-bar__item flex">
        <img src="./img/icon-social-network/truck.svg" alt="">
        <div class="content-contact">
            <p class="content-contact__title">Mạng lưới</p>
            <span>Giao hàng</span>
        </div>
    </div>
</div>